$component-feature-background-color: $theme-accent-4 !default;
$component-feature-heading-color: $theme-text-accent !default;
$component-feature-box-shadow-color: transparent !default;

$component-feature-content-max-width: 600px !default;
$component-feature-content-min-height: 300px !default;
$component-feature-content-after-width-percent: 89% !default;
$component-feature-content-background-color: $theme-primary-4 !default;

$component-feature-shadow-border-color: transparent !default;
$component-feature-shadow-background-color: transparent !default;
