$component-button-border-radius: $component-border-radius;

//NEUTRAL
$component-button-border: $component-border-width solid $component-border-color !default;
$component-button-background-color: $theme-action !default;
$component-button-text-color: $theme-text-primary !default;

$component-button-background-color-focus: $theme-action !default;
$component-button-text-color-focus: $theme-text-primary !default;

$component-button-background-color-hover: $theme-action-2 !default;
$component-button-text-color-hover: $theme-text-primary !default;

$component-button-background-color-active: $theme-action-3 !default;
$component-button-text-color-active: $theme-text-primary !default;

$component-button-background-color-disabled: $theme-action-2 !default;
$component-button-text-color-disabled: $theme-text-tertiary !default;

//PRIMARY
$component-button-primary-border: none !default;
$component-button-primary-background-color: $theme-action-primary !default;
$component-button-primary-text-color: $theme-text-inverse !default;

$component-button-primary-background-color-focus: $theme-action-primary !default;
$component-button-primary-text-color-focus: $theme-text-inverse !default;

$component-button-primary-background-color-hover: $theme-action-primary-2 !default;
$component-button-primary-text-color-hover: $theme-text-inverse !default;

$component-button-primary-background-color-active: $theme-action-primary-3 !default;
$component-button-primary-text-color-active: $theme-text-inverse !default;

$component-button-primary-background-color-disabled: $theme-action-2 !default;
$component-button-primary-text-color-disabled: $theme-text-tertiary !default;

//POSITIVE
$component-button-positive-border: none !default;
$component-button-positive-background-color: $theme-action-positive !default;
$component-button-positive-text-color: $theme-text-inverse !default;

$component-button-positive-background-color-focus: $theme-action-positive !default;
$component-button-positive-text-color-focus: $theme-text-inverse !default;

$component-button-positive-background-color-hover: $theme-action-positive-2 !default;
$component-button-positive-text-color-hover: $theme-text-inverse !default;

$component-button-positive-background-color-active: $theme-action-positive-3 !default;
$component-button-positive-text-color-active: $theme-text-inverse !default;

$component-button-positive-background-color-disabled: $theme-action-2 !default;
$component-button-positive-text-color-disabled: $theme-text-tertiary !default;

//NEGATIVE
$component-button-negative-border: none !default;
$component-button-negative-background-color: $theme-action-negative !default;
$component-button-negative-text-color: $theme-text-inverse !default;

$component-button-negative-background-color-focus: $theme-action-negative !default;
$component-button-negative-text-color-focus: $theme-text-inverse !default;

$component-button-negative-background-color-hover: $theme-action-negative-2 !default;
$component-button-negative-text-color-hover: $theme-text-inverse !default;

$component-button-negative-background-color-active: $theme-action-negative-3 !default;
$component-button-negative-text-color-active: $theme-text-inverse !default;

$component-button-negative-background-color-disabled: $theme-action-2 !default;
$component-button-negative-text-color-disabled: $theme-text-tertiary !default;