$component-footer-nav-link-color: $theme-text-primary;
$component-footer-nav-link-color-hover: $theme-text-tertiary;
$component-footer-nav-link-color-focus: $theme-text-primary;
$component-footer-nav-link-color-active: $theme-text-tertiary;
$component-footer-nav-link-color-visited: $theme-text-primary;