$component-page-header-background-color: $theme-primary;
$component-page-header-site-context-background-color: $theme-base;

$component-page-header-navigation-border-color: $theme-primary-2;

$component-page-header-content-close-color: $theme-text-inverse;
$component-page-header-content-close-color-hover: $theme-text-inverse;
$component-page-header-content-close-color-active: $theme-text-inverse;
$component-page-header-content-close-color-visited: $theme-text-inverse;
$component-page-header-content-close-color-focus: $theme-text-inverse;

$component-page-header-content-open-color: $theme-text-inverse;
$component-page-header-content-open-color-hover: $theme-text-inverse;
$component-page-header-content-open-color-active: $theme-text-inverse;
$component-page-header-content-open-color-visited: $theme-text-inverse;
$component-page-header-content-open-color-focus: $theme-text-inverse;