$component-primary-nav-link-color: $theme-text-primary !default;
$component-primary-nav-link-color-hover: $theme-text-primary !default;
$component-primary-nav-link-color-active: $theme-text-primary !default;
$component-primary-nav-link-color-visited: $theme-text-primary !default;

$component-primary-nav-link-background-color: initial !default;
$component-primary-nav-link-background-color-hover: $theme-primary-2 !default;
$component-primary-nav-link-background-color-active: $theme-primary-3 !default;
$component-primary-nav-link-background-color-visited: initial !default;

$component-primary-nav-list-border-color: $component-border-color !default;