$component-skip-nav-background-color: $theme-accent-2;
$component-skip-nav-link-color: $theme-text-inverse;
$component-skip-nav-link-color-hover: $theme-text-inverse;
$component-skip-nav-link-color-active: $theme-text-inverse;
$component-skip-nav-link-color-visited: $theme-text-inverse;