@import "variable-maps/variable-maps";
// =============================================================================
//      THEME PALATTE
//      theme specific variables set to descriptive color variables
//      use these when setting values for $component- variables
//      do not use these to set values for properties (i.e. : background-color)
// =============================================================================
$theme-white: $color-white !default;
$theme-black: $color-black !default;

$theme-base: $color-neutral-lightest !default;
$theme-base-2: $color-neutral-light !default;
$theme-base-3: $color-neutral !default;
$theme-base-4: $color-neutral-dark !default;

$theme-primary: $color-sky !default;
$theme-primary-2: $color-sky-dark !default;
$theme-primary-3: $color-sky-light !default;
$theme-primary-4: $color-blue !default;

$theme-accent: $color-gold-dark !default;
$theme-accent-2: $color-gold !default;
$theme-accent-3: $color-gold-light !default;
$theme-accent-4: $color-sand !default;

//FEEDBACK
$theme-feedback: $color-info-lightest !default;
$theme-feedback-2: $color-info-light !default;
$theme-feedback-3: $color-info !default;
$theme-feedback-4: $color-info-dark !default;
$theme-feedback-5: $color-info-darker !default;

$theme-feedback-positive: $color-success-lightest !default;
$theme-feedback-positive-2: $color-success-light !default;
$theme-feedback-positive-3: $color-success !default;
$theme-feedback-positive-4: $color-success-dark !default;
$theme-feedback-positive-5: $color-success-darker !default;

$theme-feedback-warning: $color-caution-lightest !default;
$theme-feedback-warning-2: $color-caution-light !default;
$theme-feedback-warning-3: $color-caution !default;
$theme-feedback-warning-4: $color-caution-dark !default;
$theme-feedback-warning-5: $color-caution-darker !default;

$theme-feedback-negative: $color-warning-lightest !default;
$theme-feedback-negative-2: $color-warning-light !default;
$theme-feedback-negative-3: $color-warning !default;
$theme-feedback-negative-4: $color-warning-dark !default;
$theme-feedback-negative-5: $color-warning-darker !default;

//ACTION COLORS
$theme-action: $color-gold !default; //used for default and focus states
$theme-action-2: $color-gold-light !default; //used for default and focus states
$theme-action-3: $color-gold-dark !default;

$theme-action-primary: $color-sky !default; //used for primary default and focus states
$theme-action-primary-2: $color-sky-light !default; //used for primary default and focus states
$theme-action-primary-3: $color-sky-dark !default;

$theme-action-positive: $color-success !default; //used for positive default and focus states
$theme-action-positive-2: $color-success-dark !default;
$theme-action-positive-3: $color-success-darker !default;

$theme-action-negative: $color-warning !default; //used for negative default and focus states
$theme-action-negative-2: $color-warning-dark !default;
$theme-action-negative-3: $color-warning-darker !default;

$theme-action-disabled: $color-neutral !default;

//TEXT COLORS
$theme-text-primary: $color-neutral-darker !default;
$theme-text-accent: $color-sky !default;
$theme-text-inverse: $color-neutral-lightest !default; //used for highlighted t`ext, and text on the alert/feedback colors
$theme-text-secondary: $color-gold-darker !default; //used for specialized inlines like code, inline quotes, small
$theme-text-tertiary: $color-sky-darker !default;
$theme-text-monospace: $color-sky !default;
